[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
cerberus = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-cors = "*"
redux-localstorage = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python app.py"
